<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "" %>
	</div>

	<div id="content">
		<h1>Howdy! My name is Erez</h1>
		<h2>I am a full stack web developer in the making...!</h2>
	</div>
</div>